body, html {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #e8e8e8; 
  color: #212121; 
}

img {
  border-radius: 50%;
  width: 135px; 
  height: 135px; 
  object-fit: cover; 
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #ffffff; 
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

h1, h2, h3 {
  color: #212121;
}

a {
  color: #212121;
  text-decoration: none;
  transition: color 0.3s ease; 
}

a:hover {
  color: #757575;
}

#about h1 {
  text-align: center;
}

.experience-item {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0; 
}

.experience-title {
  font-size: 20px;
  font-weight: bold;
}

.experience-date {
  font-style: italic;
}

.experience-description {
  text-align: left;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 10px;
  }
}

nav {
  display: flex;
  justify-content: space-around; /* Distributes space evenly around nav items */
  align-items: center; /* Aligns items vertically */
  padding: 20px;
  background-color: #fff; /* Fancy black background */
  color: #212121; /* Fancy white text color */
}

#logo {
  font-size: 24px; /* Larger logo text */
  font-weight: bold;
  letter-spacing: 2px; /* More space between letters for readability */
}

nav a {
  color: #212121; /* Fancy white text color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: all 0.3s;
  text-decoration: none; /* Removes underline */
  margin: 0 15px; /* Spacing between nav items */
  font-size: 16px; /* Larger font size for readability */
  border: 2px solid #fff; /* Adds a fancy white border */
  padding: 5px 10px;
  border-radius: 5px;
}

/* Enhances the introduction section */
.intro-section h1, .intro-section h2, .intro-section h3 {
  color: #212121; /* Fancy black for contrast */
}

.intro-section h1 {
  margin-bottom: 0.5em;
  font-size: 2em; /* Larger font size */
}

.intro-section h2 {
  font-size: 2.5em; /* Even larger font size */
  font-weight: bold;
}

.intro-section h3 {
  font-size: 1.5em; /* Moderately large font size */
  font-style: italic; /* Italicized for emphasis */
}

.courses-container {
  background-color: #fff; /* Light background for the section */
  padding: 20px;
  margin-top: 20px;
}

.courses-container h2 {
  color: #212121;
  text-align: center;
  margin-bottom: 20px;
}

.course {
  background-color: #fff; /* White background for each course */
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 5px; /* Rounded corners */
}

.course-link {
  color: blue; /* Makes only the CS 111 link blue */
  text-decoration: none; /* Removes underline from links */
}

.course-link:hover {
  text-decoration: underline; /* Adds underline on hover for better UX */
}

.course h3 {
  margin: 0; /* Adjusts default margin */
}

.description-container {
  background-color: #fff; /* White background for the description */
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 10px; /* Rounded corners for a smooth look */
  font-size: 18px; /* Larger font size for readability */
  line-height: 1.6; /* Increased line height for better readability */
  text-align: justify; /* Justify text for a polished appearance */
}

.description-container p {
  margin: 0; /* Adjusts default margin */
  color: #212121; /* Dark text for readability */
}

.bold-link {
  font-weight: bold;
  color: blue; 
  text-decoration: none;
}

.bold-link:hover {
  text-decoration: underline;
}

.project {
  background-color: #fff; /* White background for each course */
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 5px; /* Rounded corners */
}

.project h3 {
  color: #212121; /* Dark text for readability */
  margin: 0; /* Adjusts default margin */
}

#projects h1 {
  margin-top: 40px;
  text-align: center;
}

.project a {
  color: blue; /* Makes the link color blue */
  text-decoration: none; /* Optional: Removes the underline from links */
}

.project a:hover {
  text-decoration: underline;
}

#awards { 
  padding: 20px;
  margin-top: 20px;
}

#awards h1 {
  text-align: center;
  margin-bottom: 20px;
}

.award {
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px; 
}

.award h3 {
  color: #212121;
  margin: 0; 
}

.experience {
  background-color: #fff; /* White background for each experience */
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.experience h3 {
  color: #212121; /* Dark text for readability */
  margin: 0; /* Adjusts default margin */
}

#experiences h1 {
  text-align: center;
}
